html {
    height:100%;
}

body {
    font-family:arial,sans-serif;
    font-size:100%;
    color:#333;
    margin:0px;
    padding:0px;
    background-image:url(../images/subliminal.gif);
    height:100%;
}

a {
    color:#3F6E94;
    font-weight:bold;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

h1, h2, h3, h4 {
    font-family:georgia,serif;
    margin:0.5em 0;
    font-weight:bold;
    color:#4F5A63;
}

h1 {
    font-size:1.4em;
    color:#687854;
}
h2 { font-size:1.2em; }

pre {
    width:100%;
    overflow:auto;
    max-height:25em;
}

blockquote {
    border-left:10px solid #C2CCD4;
    padding-left:10px;
}

hr {
    width:70%;
    height:1px;
    border-color:#6F7F8C;
    border-style:dotted;
    border-width:1px 0px 0px 0px;
    margin:1em auto;
}


/* Layout */
#container {
    width:650px;
    margin-left:auto;
    margin-right:auto;
    min-height:400px;
    background-color:#FFFFFF;
    padding:1em 2em;
    position:relative;
    border-bottom:10px solid #4F5A63;
}

#header {
    text-align:center;
}
#header h1 {
    font-size:1.6em;
    color:#4F5A63;
    margin:0px;
}
#header a {
    text-decoration:none;
    color:#4F5A63;
}

.navmenu {
    padding:0px;
    margin:0px;
    position:absolute;
    width:100px;
    left:-120px;
    top:100px;
    list-style:none;
    text-align:right;
}
.navmenu li {
    margin-bottom:0.3em;
}
.navmenu li.selected a {
    font-weight:bold;
}

.navmenu a {
    color:black;
    font-weight:normal;
}

/* Elements */

#main h1 {
    text-align:center;
}

.item-list {
    list-style:square;
    padding:0px 2em;
    margin:0px;
}

.item-list li {
    margin-bottom:0.5em;
    padding:2px;
}

.item-list-info {
    font-size:0.8em;
}

.item-list-info a {
    font-weight:normal;
}

.pub-time {
    font-size:0.8em;
}

.post-head {
    text-align:center;
}
.post-head h1 {
    margin-bottom:4px;
}
.post-head h1 a {
    color:inherit;
}
.post-body h1,
.post-body h2,
.post-body h3 {
    text-align:center;
}
.post-body p {
    line-height:1.4em;
}
.post-body .gist .gist-file .gist-data {
    font-size:0.8em;
    max-height:25em;
    overflow:auto;
    line-height:1.2em;
}
.post-body .gist pre {
    overflow:visible;
}
.post-body img {
    display:block;
    margin:1em auto;
}

.bottom-nav {
    text-align:center;
    font-size:0.9em;
}

.me {
    height:70px;
    list-style:none;
    padding:0px 0px 0px 70px;
    background:transparent url(http://www.gravatar.com/avatar/ef58f66d8b53162b1e678e9557f2bf4a?s=64&r=PG) no-repeat scroll left center;
}

#disqus_thread {
    margin-top:2.5em;
}
