<div id="masthead">
    <h1>Azeem Arshad</h1>
</div>

<h2>Recent Posts</h2>
<ul class="main-list">
    {% for file in blog_posts|having("category","blog")|sortBy("publishTime", 1)|head(4) %}
        <li><span class="list-prefix">{{file.publishTime|date("d M Y")}}</span> <a href="{{file.permalink}}">{{file.title}}</a></li>
    {% endfor %}
    <li><a href="/posts">more &hellip;<a></li>
</ul>

<h2>Recent Links</h2>
<ul class="main-list">
    {% for link in linklogs|sortBy("publishTime", 1)|head(4) %}
    <li>
        <span class="list-prefix">{{link.publishTime|date("d M Y")}}</span>
        <a href="{{link.link}}">{{link.title}}</a>
        <a title="jump to this item in linklog" class="star" href="{{link.permalink}}">&#9733;</a>
    </li>
    {% endfor %}
    <li><a href="{{linkPages[0].permalink}}">more &hellip;</a></li>
</ul>
